.ICEauthority
.Xauthority
.cache
.compiz
.dbus
.dmrc
.dropbox-dist
.dropbox
.fehbg
.fonts
.gimp-2.8
.mozilla
.pki
.profile
.pulse-cookie
.ssh
.steam
.steampath
.steampid
.sudo_as_admin_successful
.xsession-errors
.xsession-errors.old
.zcompdump*
.zsh-update
.zsh_history

.config/*
!.config/i3

Desktop
Downloads
Dropbox
Pictures

